/*@media (prefers-color-scheme: dark) {
    body {
    background-color: black;
    color: white;
    }
    }*/

h1, h2, h3, body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:hover, a:visited, a:link, a:active {
    color: inherit;
    text-decoration: none !important;
}

:any-link {
    color: inherit;
    text-decoration: none !important;
}

:-moz-any-link {
    color: inherit;
    text-decoration: none !important;
}

a:-webkit-any-link {
    color: inherit;
    text-decoration: none !important;
}

.but {
    height: 45px; 
    width: 150px; 
    background-color: Transparent;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.but:focus, .but:hover {
    border: 1px solid black;
}

button, submit {
    height: 45px;
    width: 150px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
}

button:focus, button:hover, submit:focus, submit:hover {
    border: 1px solid black;
}

img {
  border-radius: 4px;
}

input { 
    padding: 10px;
}

table {
    width: 85%;
    table-layout: fixed;
    float: center;
}

@media only screen and (max-width: 700px) {
    .one{
        display: none;
    }
}

.tr0 {
	display: content;
}

.tr1, .tr2, .tr3, .tr4 {
	display: none;
}

.total {
    max-width: 960px;
    margin: auto;
}
