<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title.lower() }} | ^.^____/</title>
<link href={{ url_for('static', filename='styles.css') }} rel='stylesheet'>
<div width="auto" align="center">
<h2><a href={{ url_for('index') }}>^.^___/</a></h2>

{% if wxmeow %}
{{ wxmeow.wxmeow | safe }}
{{ wxmeow.futuremeow | safe }}
{% endif %}

{% if form %}
{% block content %}

    <section>                                                                                                                                             
        <h2>the weather, right meow</h2>                                                                                                           
            <form action="", method="post"> 
                <p>
                    {{ form.csrf_token }}
                    {{ form.location(placeholder='enter zip', size=32) }}
                </p>
                <p>{{ form.submit(class="but") }}</p>
            </form>                                                                                                                                    
    </section>    


{% endblock %}
{% endif %}

{% if pic %}

<img href="{{ url_for('static', filename='catpics/{}'.format(pic)) }}">

{% endif %}

<br><br>
<h2><a href={{ url_for('index') }}>\___^.^</a></h2>
</div>
